#hobby{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 20px;
    font-size: 18;
    text-align: center;
}
#pencil{
    height: 250px;
    width: 200px;
    border-radius: 200px;
}
#about{
    background-color: aquamarine;
    text-align: center;
}
#menu{
    list-style: none; 
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    display: inline;
}
h1{
    font-family: 'Zen Loop', cursive;
    font-size: 34px;
}
#favoritebooks{
    text-align: center;
    background-color: bisque;
}
.inspo:hover {
    transform: scale(0.9)
}
#inspiration{
    text-align: center;
    background-color:darksalmon;
}

#contact{
    text-align: center;
}
li {
  display: inline;
}